

body {
    color: #d3d3d3;
    background-color: black;    
    font-family: Arial, sans-serif;    
}

.header {
    background-image: url("header_background.png");
    background-size: cover;   /* Fyller ut hela headern */
    background-position: center;
    height: 255px;
}

.header img {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.container {
    max-width: 900px;
    margin: 0 auto;     /* Centrerar horisontellt, utvärtes. Auto betyder så stor som möjligt */
    padding: 20px;      /* Luft runt innehållet, invärtes */
    background: rgb(32, 32, 32);  
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(39, 54, 39);
}

.ingress {
    font-weight: 100;
    font-style: italic;
    opacity: 0.9;
    font-size: 1.2rem;    
}

.text-container {
    width: 70ch;
    margin: 0 auto; 
    text-align: left;
}

.video-container {
    padding: 20px;
}

.linkList {
    padding: 0;
    margin: 20px 0;
}

.linkList li {
    display: inline-block; 
    list-style: none;
    margin-right: 20px; 
}

.linkList a {
    color: #d3d3d3;
    text-decoration: none;
}

.linkList a:hover {
    text-decoration: underline;
}

footer {
    height: 50px;
    background-color: rgb(39, 54, 39);
}

footer p {
    font-size: 0.75rem;
    margin: 0;
    line-height: 50px;
}

iframe {         /* Validatorn gillade inte iframeborder som följde med koden från YouTube (HTML4) */
    border: none;
}